* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.main-menu-top {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.menu-color {
    color: white;
    text-decoration: none;
    padding: .3em;
}

.boolean-logo {
    width: 100px;
}

.logo-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.topbar {
    background-color: rgb(255, 106, 0);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* main */

main {
	padding-top: 3rem;
}

main .container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: 4rem;
    padding-top: 3em;
    padding-bottom: 3em;
}

.card {
	width: 30%;
	flex: 1 1 auto;
}

.card img {
	display: block;
}

.card h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
}

.card .last-price {
	color: red;
	font-weight: bold;
}

.card .first-price {
	text-decoration: line-through;
}

.card .img-area {
	position: relative;
}

.card .heart {
	position: absolute;
	padding: .4em;
	top: 10px;
	right: 0;
	background-color: white;
	font-size: 1.4rem;
	cursor: pointer;
}

.card .heart:hover {
	color: red;
}

.card .tags {
	display: flex;
	gap: .5rem;
	position: absolute;
	left: 0;
	bottom: 20px;
}

.card .tag {
	padding: .5em;
	color: white;
	font-weight: bold;
}

.card .tag-discount {
	background-color: red;
}

.card .tag-info {
	background-color: green;
}

.card .img-above {
	position: absolute;
	top: 0;
	right: 0;
}

.card:hover .img-above {
	z-index: -1;
}

/* footer */

.container-footer {
    width: 100%;
}

.bottom-bar {
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu-bottom {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.bottom-menu-color {
    color: white;
    text-decoration: none;
    padding: .5em;
}

.booleando {
    color: white;
}

.find-us {
    color: white;
}

